{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@api": "./app/api",
          "@components": "./app/components",
          "@containers": "./app/containers",
          "@navigation": "./app/navigation",
          "@redux": "./app/redux",
          "@node_modules": "./node_modules"
        }
      }
    ]
  ]
}
